/**
 * Reports Module Styles
 */
.printable-area {
  background: #ffffff;
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .erp-sidebar, .erp-header, .btn, select, input {
    display: none !important;
  }
}
